<main id="content" role="main">

  <div class="inner-block">

		<div class="text">
			<p>Deed created</p>

			<p>
				<a href="/cases" class="button button-get-started">Back to case list</a>
			</p>
		</div>

	</div>

</main>
