
<form method="post">
  <label for="first_name">First name
    <input type="text" id="first_name" name="first_name">
  </label>
  <label for="middle_names">Middle name(s)
    <input type="text" id="middle_names" name="middle_names">
  </label>
  <label for="last_name">Last name
    <input type="text" id="last_name" name="last_name">
  </label>
  <label for="street_address">Street address
    <input type="text" id="street_address" name="street_address">
  </label>
  <label for="extended_address">Extended address
    <input type="text" id="extended_address" name="extended_address">
  </label>
  <label for="locality">Locality
    <input type="text" id="locality" name="locality">
  </label>
  <label for="post_code">Postcode
    <input type="text" id="postcode" name="postcode">
  </label>
  <label for="telephone_no">Mobile number
    <input type="text" id="telephone_no" name="telephone_no">
  </label>
  <label for="telephone_no">Mobile number
    <input type="text" id="telephone_no" name="telephone_no">
  </label>
  <label for="email_address">Mobile number
    <input type="text" id="email_address" name="email_address">
  </label>

  <input type="submit"
         name="add-borrower"
         id="add-borrower"
         value="Add borrower"
         class="button"/>

</form>

<a href="{{create_case_url}}">Cancel</a>
