<div class="text">
    <p>
        <a href="{{add_borrower_url}}">Add borrower</a>
    </p>
</div>

<div id="borrowers" class="text">
    {{#has_borrowers}}
        <h2>Borrowers</h2>
    {{/has_borrowers}}
    <ul>
        {{#borrowers}}
            <li>
                <p>

                <h3>{{full_name}}</h3>
                <h4>Contact Information</h4>
                <dl>
                    <dt>Email address</dt>
                    <dd>{{email_address}}</dd>
                    <dt>Mobile phone number</dt>
                    <dd>{{mobile_no}}</dd>
                </dl>

                <h4>Current address</h4>
                {{#address}}
                    <ul>
                        <li>
                            {{.}}
                        </li>
                    </ul>
                {{/address}}
                </p>
            </li>
        {{/borrowers}}
    </ul>
</div>

<a href="{{case_list_url}}">Cancel</a>