<a href="/case/new" class="button">Create a new case</a>
<table id="casework-dashboard">
    <thead>
    <tr>
        <th scope="col">Reference</th>
        <th scope="col">Client</th>
        <th scope="col">Task</th>
        <th scope="col">Status</th>
        <th scope="col">Last updated</th>
    </tr>
    </thead>
    <tbody>
    {{#cases}}
        <tr class="summary case-{{id}}">
            <td>{{case_ref}}</td>
            <td>
                <ul>
                    {{#borrowers}}
                        <li>
                            {{.}}
                        </li>
                    {{/borrowers}}
                </ul>
            </td>
            <td>{{task}}</td>
            <td>{{status}}</td>
            <td>{{get_readable_updated_date}}</td>
            {{^deed_id}}
                <td><a href="/case/{{id}}/deed/new" class="button">Create Deed</a></td>
            {{/deed_id}}
            {{#confirmation_available}}
                <td><a href="/case/{{id}}/deed/{{deed_id}}/completion" class="button">Confirm completion</a></td>
            {{/confirmation_available}}
        </tr>
    {{/cases}}
    </tbody>
</table>
