<a href="/case/new" class="button">Create a new case</a>
<table id="casework-dashboard">
    <thead>
    <tr>
        <th scope="col">Reference</th>
        <th scope="col">Client</th>
        <th scope="col">Task</th>
        <th scope="col">Status</th>
        <th scope="col">Last updated</th>
    </tr>
    </thead>
    <tbody>
    {{#cases}}
    <tr class="summary case-{{id}}">
            <td>{{reference}}</td>
            <td>
                <ul>
                    {{#clients}}
                        <li>
                            {{.}}
                        </li>
                    {{/clients}}
                </ul>
            </td>
            <td>{{task}}</td>
            <td>{{status}}</td>
            <td>{{get_readable_updated_date}}</td>
            <td><a href="#" class="button">Create Case</td>
        </tr>
    {{/cases}}
    </tbody>
</table>
