<form method="post">
  <input type="submit"
         name="create-case"
         id="create-case"
         value="Create new test case"
         class="button"/>
</form>

{{#case}}

<h2>Case {{case.id}} created</h2>

{{/case}}
