
<form method="post">
  <label for="case_ref">Create a case reference (optional)
    <input type="text" id="case_ref" name="case_ref">
  </label>

  <input type="submit"
         name="create-case"
         id="create-case"
         value="Create case"
         class="button"/>

</form>

<a href="{{case_list_url}}">Cancel</a>
