<p>
    <form method="post">
        <input type="submit"
               name="submit-case"
               id="submit-case"
               value="Submit"
               class="button"/>
    </form>
</p>

<p>
    <a href="{{case_list_url}}">Cancel</a>
</p>