<div>
    <form method="post">

        {{#has_errors}}
            <div class="errors">
                {{#errors}}
                    <div class="error form-group">{{key}}: {{error}}</div>
                {{/errors}}
            </div>
        {{/has_errors}}

        {{{ form.csrf_token }}}

        <p>
            <label for="first_name">First name
                <input type="text" id="first_name" name="First name">
            </label>
        </p>

        <p>
            <label for="middle_names">Middle name(s) (optional)
                <input type="text" id="middle_names" name="middle_names">
            </label></p>

        <p>
            <label for="last_name">Last name
                <input type="text" id="last_name" name="last_name">
            </label>
        </p>

        <p>
            <label for="street_address">Street address
                <input type="text" id="street_address" name="street_address">
            </label>
        </p>

        <p>
            <label for="extended_address">Extended address (optional)
                <input type="text" id="extended_address" name="extended_address">
            </label>
        </p>

        <p>
            <label for="locality">Locality
                <input type="text" id="locality" name="locality">
            </label>
        </p>

        <p>
            <label for="post_code">Postcode
                <input type="text" id="postcode" name="postcode">
            </label>
        </p>

        <p>
            <label for="mobile_no">Mobile number
                <input type="text" id="mobile_no" name="mobile_no">
            </label>
        </p>

        <p>
            <label for="email_address">Email address
                <input type="text" id="email_address" name="email_address">
            </label>
        </p>
        <input type="submit"
               name="add-borrower"
               id="add-borrower"
               value="Add borrower"
               class="button"/>
    </form>
    <p>
        <a href="{{create_case_url}}">Cancel</a>
    </p>
</div>
